<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <div fxLayout="column" fxLayoutGap="16px">
          Reflection
          <ion-button size="large"> Daily Reflection </ion-button>
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <div fxLayout="column" fxLayoutGap="16px">
          Workout
          <ion-button size="large"> Gym </ion-button>
          <ion-button size="large"> Outdoor </ion-button>
          <ion-button size="large"> Home </ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
